@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&family=Poppins:wght@600;700&family=Quicksand:wght@500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #432c69;
  --color-secondary: #f0d392;
  --color-accent: #b88279;
  --color-dark: #513cd6;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Nunito", sans-serif;
  --font-ui: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background: #ffffff;
  color: #1a1a1a;
}

.heading {
  font-family: var(--font-heading);
}

.ui-font {
  font-family: var(--font-ui);
}

input.time-input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.react-datepicker {
  border: none;
  border-radius: 16px;
  box-shadow: 0 18px 45px rgba(15, 23, 42, 0.18);
  font-size: 14px;
}

.react-datepicker__header {
  background: #432c69 !important; /* tavo primary */
  border-bottom: none;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  color: #ffffff;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: #513cd6 !important;
  color: #ffffff !important;
}

.react-datepicker__current-month {
  color: #ffffff !important;
  font-weight: 600;
  text-transform: capitalize;
}

.react-datepicker__day-name {
  color: #ffffff !important;
  font-weight: 500;
}

.react-datepicker-time__header {
  color: #ffffff !important;
}

.custom-time-popper .react-datepicker__time-container {
  width: 110px !important;
}

.custom-time-popper .react-datepicker__time-box {
  width: 110px !important;
}

.custom-time-popper .react-datepicker__time-list-item {
  padding: 8px 14px;
  font-size: 14px;
}

.custom-time-popper .react-datepicker__time-list-item--disabled {
  display: none;
}
